/* // CARRBON COPY OF ABOUT PAGE 4 DEC 2024 - filename adjusted to CAST */
.about {
    margin:auto 0;
    display: flex;
    justify-content: center;
    padding-top:15px;
    text-shadow:4px 4px 4px #000000;
}
.textContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.aboutImg {
    margin:auto 0;
}

.aboutText {
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0,0,.65);
    border: solid white 1px;
    padding: 15px;
}

p {
    font-size: 25px;
    font-family: "luminance-sc", serif;
}

.godzilla {
    display: flex;
    max-width:100%;
}
h3 {
    display:flex;
    align-items: center;
    font-size: 1.4rem;
}
h4 {
    font-size: 1.25rem;
    display:flex;
    align-items: center;
}

@media only screen and (max-width: 1250px) {
    .about {
        flex-direction: column;
    }
    .textContainer {
        width:100%;
        font-size: 12px;
    }
    .contact-box p {
        font-size: 18px;
    }
  }