.footer {
    display:flex;
    font-family: 'ryeregular';
    font-weight: 500;
    color: #fff;
  }
.footer-info {
    height:60px;
    width:100%;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content:space-evenly;
    align-items: center; 
  }
a {
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 1150px) {
    .footer-info{
        font-size: 12px;
        flex-direction: column;
      }
    }