.footer {
    display:flex;
    align-content:center; 
    font-family: 'Luminance OT';
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }
.footer-info {
    height:60px;
    width:90%;
    height:100px;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content:space-between;
    justify-items: center; 

  }
a {
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 1150px) {
    .footer-info{
      display:none;
      }
    }