.wrapper {
    display:flex;
    flex-direction: column;
}
.home {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    height:100%;
}
.logoBox {
    display:flex;
    flex-direction: column;
    width:50%;
}
.umrxImg {
    display:flex;
    justify-content: center;
    max-width:100%;
}
.homeInfo {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.homeText {
    display: flex;   
    flex-direction: column;
    text-align: center;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
.place a:hover {
    color:#8d8d8d;
}


@media only screen and (max-width: 1150px) {
    .home {
        flex-direction: column;
    }
    .logoBox {
        width:100%;
        align-items: center;
    }
    .homeInfo {
        width:100%;
    }
    .homeText {
        flex-direction: row;  
        align-content: space-between;
    }
    .dates {
        padding-right: 65px;
    }
    .place {
        padding-left: 65px;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    .umrxImg {
      max-width: 70%;
    }
    .footer-info{
        font-size: 12px;
        flex-direction: column;
      }
  }
  @media only screen and (max-width: 768px) {
    .homeText {
        flex-direction: column;  
    }
    .dates {
        padding-right: 0px;
    }
    .place {
        padding-left: 0px;
    }
    h1 {
        font-size: 2.25em;
    }
    h2 {
        font-size: 1.75em;
    }
  }