.wrapper {
    display:flex;
    width:100%;
    flex-direction: column;
}
.home {
    display:flex;
    flex-direction: row;
}
h1{
    font-size: 3em;
}
.homeText p {
    font-size: 35px;
    line-height: 20px;
}
.logoBox {
    display:flex;
    flex-direction: column;
    width:50%;
}
.jciBanner {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height:135px;
}
.jciBanner img {
    max-width:33%;
}
.umrxImg {
    max-width:100%;
}
.homeInfo {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.homeText {
    display: flex;   
    flex-direction: row;
    text-align: center;
    width:50%;
}
.dates {
    width:100%;
}
.dates h2 {
    font-size: 2em;
}
.place {
    width:100%;
}

.place a:hover {
    text-decoration: none;
    color:#8d8d8d;
}
a {
    text-decoration: none;
    color:white;
}


@media only screen and (max-width: 1150px) {
    .home {
        flex-direction: column;
    }
    .logoBox {
        width:100%;
        align-items: center;
    }
    .homeInfo {
        width:100%;
    }
    .homeText {
        flex-direction: row;  
        width:100%;
        margin-top: 15px;
    }
    .dates {
        width:100%;
    }
    .place {
        width:100%;
    }
    
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.45em;
    }
    .umrxImg {
      max-width: 75%;
      margin-top:  35px;
    }
    .jciBanner {
        height:80px;
    }
    .jciBanner img {
        max-width:50%;
    }
  }
  @media only screen and (max-width: 768px) {
    .homeText {
        flex-direction: column;  
    }
    .dates {
        padding-right: 0px;
    }
    .place {
        padding-left: 0px;
    }
    h1 {
        font-size: 2.25em;
    }
    h2 {
        font-size: 1.75em;
    }
    .jciBanner {
        height:135px;
    }
    .jciBanner img {
        max-width:90%;
        margin-top: 35px;
    }
    .umrxImg {
        max-width: 95%;
        margin-top: 55px;
      }
  }
  @media only screen and (max-width: 550px) {
  .homeInfo h1 {
      font-size: 35px;
      line-height: 35px;
  }
  .homeInfo h2 {
    font-size: 25px;
}
.jciBanner {
    height:115px;
}
   .umrxImg {
        margin-top: 15px;
    }
}