.contact-container {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
header {
    width:80%;
}
.contact-box {
    display:flex;
    flex-direction: column;
    width:37%;
    padding:25px;
    margin-bottom: 25px;
    background-color:rgba(0, 0, 0, 0.55);
    border: solid white 1px;

}
.contact-box a:hover {
    color:#6e6c6c;
}
.contact-box-photo {
    max-width:100%;
}
.contact-box-inner {
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
.contact-box-inner-left {
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-box-inner-right {
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-box-inner li{
    font-size: 22px;
    margin-bottom: 25px;
    list-style-type: initial;
}
.jci {
    display:flex;
    justify-content: center;
    width:100%;
    background-color: yellow;
}
.jci img {
    max-width: 100%;
}
.contact-box2 {
    display:flex;
    width:55%;
    flex-wrap: wrap;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.55);
    border: solid white 1px;
}
.contact-box2 h3 {
    font-size: 1.75em;
}
.email {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1750px) {
   .contact-box2{
        width:47%;
    }

}
@media only screen and (max-width: 1450px) {
    .contact-box {
        width:90%;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }
    .contact-box-photo {
        max-width:100%;
    }
    .contact-box-photo-santa {
        max-width: 70%;
    }
    .contact-box2{
        width:95%;
    }
    .contact-box h4{
        display:none;
    }
    .contact-box h2{
        font-size: 4em;
    }
}
@media only screen and (max-width: 1150px) {
    .contact-box-inner {
        flex-direction: column;
        align-items: center;
    }
    .contact-box-inner-left {
        width:90%;
    }
    .contact-box-inner-right {
        width:90%;
    }
    .email h4 {
        font-size: 2.25em;
    }
    .contact-box2 h3 {
        font-size: 24px;
        padding:15px;
    }
}
  @media only screen and (max-width: 768px) {
    .email h4 {
        font-size: 1.35em;
    }
    .contact-box h2{
        font-size: 2em;
    }
}
@media only screen and (max-width: 395px) {
    .email h4 {
        font-size: 1em;
    }
    .contact-box h2{
        font-size: 1.25em;
    }
}

